/* Estilo para el sidebar */
        .sidebar {
            position: fixed; /* Fija el sidebar en la página */
            top: 0;
            left: 0;
            height: 100%;
            width: 250px; /* Ancho del sidebar */
            background-color: #f8f9fa;
            padding: 20px;
            overflow-x: hidden; /* Evita que el contenido se desborde horizontalmente */
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra los elementos horizontalmente */
            justify-content: space-between; /* Alinea los elementos de arriba a abajo */
        }

        /* Contenedor principal para el contenido de la página */
        .content {
            margin-left: 250px; /* Ajusta el margen izquierdo para dejar espacio para el sidebar */
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra el contenido horizontalmente */
        }

        /* Estilo para la tabla de productos */
        .table {
            width: 100%; /* Ancho de la tabla */
            margin-top: 20px; /* Espacio superior */
        }

        .actions {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px; /* Espacio inferior */
        }